.App {
    text-align: center;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8px;
    background-color: #eee;
    border-bottom: 0.5px solid #3054BF;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: #777;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #2aabd2;
}

.nav-links li {
    list-style-type: none;
}

.brand-img {
    /*margin: 5px 0px;*/
    height: 80px;
    min-width: 80px;
}

li, a {
    text-decoration: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

.separate {
    border-bottom: 0.5px solid #3054BF;
    margin-top: 25px;
    margin-bottom: 5px;
}

.hr-nav {
    background-color: #2aabd2;
}

.homepage-intro {
    margin-top: 80px;
}

span.fa {
    padding: 0px 4px;
}

ul. {
    margin-bottom: 10px;
}

.footer {
    background-color: #66afe9;
    padding-top: 10px;
}

ul.list-inline a {
    color: white;
}